{% extends "templates/web.html" %}

{%- block title -%}{{_("Not Found")}}{%- endblock -%}

{% block page_content %}

<script>
    window.is_404 = true;
</script>

<div class="error-page">
    <img class="img-404" src="/assets/gymmgt/images/error1.png" />
    <div>
        <h2 class="mb-1 mt-4">
            We're sorry
        </h2>
        <div class="text-muted error-text">
            The page you were looking for isn't found here. The link you followed may either be broken or
            no longer exists. Please try again, or navigate to home page.
        </div>
        <div class="mt-6 back-to-home"><a href='/' class='btn btn-primary'>Home</a></div>
    </div>
</div>

{% endblock %}